<% provide(:title, "Leagues") %>
<h1>Leagues</h1>
  <html>
  
  <!--leagues-->
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-4">
        <div class="well"><a href=http://www.zogsports.com/nyc/home.aspx>ZogSports</a></div>
      </div>
      <div class="col-md-4">
        <div class="well"><a href=http://nycsocial.com/>nycsocial</a></div>
      </div>
      <div class="col-md-4">
        <div class="well"><a href=nyurban.com>nyurban</a></div>
      </div>
    </div>
  </div>     
  
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-4">
        <div class="well"><a href=noprosports.org>noprosports</a></div>
      </div>
      <div class="col-md-4">
        <div class="well"><a href=UnitedSportsLeague.com>UnitedSportsLeague</a></div>
      </div>
      <div class="col-md-4">
        <div class="well"><a href=http://www.bamsocialsports.com/>bamsocialsports</a></div>
      </div>
    </div>
  </div>     
    
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-4">
        <div class="well"><a href=http://www.zogsports.com/nj/home.aspx>zogsports nj</a></div>
      </div>
      <!--soccer-->
      <div class="col-md-4">
        <div class="well"><a href=http://www.urbansoccer.com/>urbansoccer</a></div>
      </div>
      <div class="col-md-4">
        <div class="well"><a href=http://nycfooty.com/>nycfooty</a></div>
      </div>
    </div>
  </div>     
    
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-4">
        <div class="well"><a href=http://nycsoccer.com/>nycsoccer</a></div>
      </div>
      <div class="col-md-4">
        <div class="well"><a href=http://www.nycoedsoccer.com/>nycoedsoccer</a></div>
      </div>
      <div class="col-md-4">
        <div class="well"><a href=http://www.nycsoccercollective.net/>nycsoccercollective</a></div>
      </div>
    </div>
  </div>     
  
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-4">
        <div class="well"><a href=http://www.chelseapiers.com/fh/>chelseapiers</a></div>
      </div>
      <div class="col-md-4">
        <div class="well"><a href=http://www.zogsports.com/nyc/sports/soccer.aspx>zogsports soccer</a></div>
      </div>
      <!--events-->
      <div class="col-md-4">
        <div class="well"><a href=https://toughmudder.com/events/2015-western-new-york>toughmudder</a></div>
      </div>
    </div>
  </div>     
  
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-4">
        <div class="well"><a href=http://urbanmudder.com/>urbanmudder</a></div>
      </div>
      <div class="col-md-4">
        <div class="well"><a href=http://thecolorrun.com/night/new-york/>thecolorrun</a></div>
      </div>
      <div class="col-md-4">
        <div class="well"><a href=https://www.warriordash.com/locations/>warriordash</a></div>
      </div>
    </div>
  </div>     

  <div class="container-fluid">
    <div class="row">
      <div class="col-md-4">
        <div class="well"><a href=http://www.spartan.com/en>spartan</a></div>
      </div>
      <div class="col-md-4">
        <div class="well"><a href=http://nyczombiecrawl.com/news/>nyczombiecrawl</a></div>
      </div>
      <div class="col-md-4">
        <div class="well"><a href=http://www.thezombiemudrun.com/photo-video-zombie-mud-run-zombie-mudder>thezombiemudrun</a></div>
      </div>
    </div>
  </div>     
 
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-4">
        <div class="well"><a href=http://www.hotchocolate15k.com/>hotchocolate15k</a></div>
      </div>
      <div class="col-md-4">
        <div class="well"><a href=http://newyorkroguerunners.com/>newyorkroguerunners</a></div>
      </div>
      <div class="col-md-4">
        <div class="well"><a href=http://nycpizzarun.com/>nycpizzarun</a></div>
      </div>
    </div>
  </div>     

  <div class="container-fluid">
    <div class="row">
      <div class="col-md-4">
        <div class="well"><a href=http://electricrun.com/>electricrun</a></div>
      </div>
      <div class="col-md-4">
        <div class="well"><a href=http://www.cupidsundierun.com/city/newyork/>cupidsundierun</a></div>
      </div>
    </div>
  </div> 

</html>
