
<html>

<h1>Leagues</h1>

  <!--leagues-->
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-4">
        <a href="http://www.zogsports.com/nyc/home.aspx" class="thumbnail">
          <img src="/assets/ZogSports_Logo.png" alt="ZogSports">
        </a>
      </div>
      <div class="col-md-4">
        <a href=http://nycsocial.com/  class="thumbnail">
          <img src="/assets/NYCsocial.png" alt="NYCsocial">
        </a>
      </div>
      <div class="col-md-4">
        <a href=noprosports.org class="thumbnail">
          <img src="/assets/noprosportslogo.png" alt="noprosports">
        </a>
      </div>
    </div>
  </div>
      
  <div class="container-fluid">
    <div class="row">      
      <div class="col-md-4">
        <a href=UnitedSportsLeague.com class="thumbnail">
          <img src="/assets/unitedsportsleaguelogo.png" alt="UnitedSportsLeague">
        </a>
      </div>
      <div class="col-md-4">
        <a href=http://www.bamsocialsports.com/ class="thumbnail">
          <img src="/assets/BAM-Logo.png" alt="bamsocialsports">
        </a>
      </div>
      <!--soccer-->
      <div class="col-md-4">
        <a href=http://www.urbansoccer.com/ class="thumbnail">
          <img src="/assets/urbansoccerlogo.png" alt="urbansoccer">
        </a>
      </div>
    </div>
  </div>
  
  <div class="container-fluid">
    <div class="row">      
      <div class="col-md-4">
        <a href=http://nycfooty.com/ class="thumbnail">
          <img src="/assets/nycfootylogo.png" alt="nycfooty">
        </a>
      </div>
     <div class="col-md-4">
        <a href=http://nycsoccer.com/ class="thumbnail">
          <img src="/assets/nycsoccerlogo.png" alt="nycsoccer">
        </a>
      </div>
      <div class="col-md-4">
        <a href=http://www.nycoedsoccer.com/ class="thumbnail">
          <img src="/assets/nycoedsoccerlogo.png" alt="nycoedsoccer">
        </a>
      </div>
    </div>
  </div>      
      
      
  <div class="container-fluid">
    <div class="row">      
      <div class="col-md-4">
        <a href=http://www.nycsoccercollective.net/ class="thumbnail">
          <img src="/assets/nycsoccercollectivelogo.png" alt="nycsoccercollective">
        </a>
      </div>
     <div class="col-md-4">
        <a href=http://www.chelseapiers.com/fh/ class="thumbnail">
          <img src="/assets/chelseapierslogo.png" alt="chelseapiers">
        </a>
      </div>
      <!--events-->
      <div class="col-md-4">
        <a href=https://toughmudder.com/events/2015-western-new-york class="thumbnail">
          <img src="/assets/toughmudderlogo.png" alt="toughmudder">
        </a>
      </div>
    </div>
  </div>
  
  <div class="container-fluid">
    <div class="row">      
      <div class="col-md-4">
        <a href=http://urbanmudder.com/ class="thumbnail">
          <img src="/assets/urbanmudderlogo.png" alt="urbanmudder">
        </a>
      </div>
      <div class="col-md-4">
        <a href=https://www.warriordash.com/locations/ class="thumbnail">
          <img src="/assets/WarriorDash_Logo.png" alt="warriordash">
        </a>
      </div>
      <div class="col-md-4">
        <a href=http://www.spartan.com/en class="thumbnail">
          <img src="/assets/spartan-race-logo.png" alt="spartan">
        </a>
      </div>
    </div>
  </div>

  <div class="container-fluid">
    <div class="row">     
      <div class="col-md-4">
        <a href=http://www.hotchocolate15k.com/ class="thumbnail">
          <img src="/assets/hotchocolate15klogo.png" alt="hotchocolate15k">
        </a>
      </div>
      <div class="col-md-4">
        <a href=http://thecolorrun.com/night/new-york/ class="thumbnail">
          <img src="/assets/color-run_log.png" alt="thecolorrun">
        </a>
      </div>     
     <div class="col-md-4">
        <a href=http://electricrun.com/ class="thumbnail">
          <img src="/assets/electricrunlogo.png" alt="electricrun">
        </a>
      </div>
    </div>
  </div>      
      
  <div class="container-fluid">
    <div class="row">      
      <div class="col-md-4">
        <a href=http://www.cupidsundierun.com/city/newyork/ class="thumbnail">
          <img src="/assets/cupidsundierunlogo.png" alt="cupidsundierun">
        </a>
      </div>
      <div class="col-md-4">
        <a href=http://nycpizzarun.com/ class="thumbnail">
          <img src="/assets/nycpizzarunlogo.png" alt="nycpizzarun">
        </a>
      </div>
    </div>
  </div>

</html>
